*{padding: 0px; margin:0px}

/*fonts*/
@font-face {
  font-family: Titlefont; 
  src: url(../fonts/Vogue.ttf); 
}
@font-face {
  font-family: Navfont; 
  src: url(../fonts/BLACKOUT.ttf); 
}
@font-face {
  font-family: aboutme-title-font; 
  src: url(../fonts/GoboldBold.otf); 
}
@font-face {
  font-family: starfont; 
  src: url(../fonts/Worldstar.ttf); 
}
@font-face {
  font-family: KCfont; 
  src: url(../fonts/KenyanCoffeeBd.otf); 
}

body{
	background-image: url('../images/back.jpg');
	background-position: center;
}
  
  /* for all section titles*/
.aboutme-title, .hobbies-title, .education-title{
	padding: 20px;
	font-family: aboutme-title-font;
	color: #6367FF;
}

/*index title*/
.mainpage{
	padding: 20px;
	margin-top: 100px;
	text-align: center;
}
.main-title{
	font-family: Titlefont;
	font-size: 80px
}

#sub-title{
	color: #7F2020;
}

/*nav*/
.nav-container {
	background-color: #8494FF;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-items {
	display: flex;
	justify-content: center;
	list-style: none;
	max-width: 1200px;
	margin: 0 auto;
}

.nav-item {
	margin: 0 20px;
}

.nav-link {
	color: black;
	text-decoration: none;
	font-family: Navfont;
	font-size: 50px;
	font-weight: 500;
	padding: 10px 15px;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.nav-link:hover {
	background-color: #626575;
}

/*index footer*/
.foot{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 190px;
}
.photoinsta{
	width: 50px;
	height: 50px;
	padding: 10px
}
.photogit{
	width: 50px;
	height: 50px;
	padding: 10px;
}

/*about me main content*/
.main-content {
	max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
	}

.aboutme-sub-title{
	color: #6367FF;
	font-family: aboutme-title-font;
}

.aboutme-text{
	font-size: 21px;
}
.inspiration-name{
	color: #5D1C6A;
	font-weight: bold;
}
.profile{
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-pic{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 5px solid black;
}

/*Hobbies*/
.hobbies-main-content{
	max-width: 1000px;
    margin: 0 auto;
    display: flex;  
	flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}
.hobby{
	flex: 1 1;
}
.hobby-container{
	display:flex;
	justify-content: center;
	align-items: center;
}

.hobby-picture{
	width:300px;
	height:300px;
	border-radius:20%;
	border: 5px solid black;
}

.hobbies-sub-title{
	font-family:aboutme-title-font;
	font-size: 20px;
	color: #6367FF
}

.hobbies-text, .education-sub-title{
	font-family: starfont;
	font-size: 40px;
}

/* education*/
.school-article{
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.education-sub-title{
	font-family: KCfont;
	font-size: 45px;
	color: #6367FF;
	text-align: center;
}
.education-headers{
	font-family: aboutme-title-font;
	font-size: 30px;
	color: #6367FF;
	text-align: center;
}
.school-name{
	color: #5D1C6A;
	font-weight: bold;
}
.education-list{
	font-family: KCfont;
	font-size: 25px;
	text-align: center;
} 
.education-text{
	font-family: KCfont;
	font-size: 25px;
	text-align: center;
	max-width: 500px;
} 
.image-container, .education-content{
	display: flex;
	justify-content:center;
}
.education-picture{
	width:500px;
	height:500px;
	border-radius:50%;
	border: 5px solid black;
}
/* for tablet*/
@media (max-width: 1279px) {
 .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .nav-link {
    font-size: 50px;
  }

  .main-title {
    font-size: 65px;
  }
  
  .mainpage {
    margin-top: 60px;
    padding: 15px;
  }
  
  .foot {
    margin-top: 100px;
  }
  
  .main-content {
    max-width: 90%;
  }
  
  .aboutme-text {
    font-size: 18px;
  }
  
  .aboutme-title {
    padding: 15px;
    font-size: 25px;
  }
  
  .profile-pic{
	  height: 300px;
	  width: 300px;
  }
 
  .hobbies-main-content {
    max-width: 90%;
    gap: 30px;
    justify-content: center;
  }
  
  .hobby {
    flex: 1;
    min-width: 250px;
  }
  
  .hobby-picture {
    width: 250px;
    height: 250px;
  }
  
  .hobbies-text {
    font-size: 32px;
  }
  .hobbies-title, .education-title{
    padding: 15px;
    font-size: 25px;
  }
  .education-picture{
	width:300px;
	height:300px;
}
.education-list{
	font-size: 35px;
} 
.education-text{
	font-size: 35px;
} 

}
/* for mobile*/
@media (max-width: 768px) {
  
 .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .nav-link {
    font-size: 50px;
  }
  
 .main-title {
    font-size: 65px;
  }
  
  .mainpage {
    margin-top: 60px;
  }
  .foot {
    margin-top: 80px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
  }
  
  .profile-pic {
    width: 250px;
    height: 250px;
  }
  
  .aboutme-title, .aboutme-sub-title, .aboutme-text{
    text-align: center;
  }
  
  .hobbies-main-content {
    flex-direction: column;
    gap: 40px;
 }
  
  .hobby {
    flex: 1;
    width: 100%;
    text-align: center;
  }
  
  .hobby-container {
    flex-direction: column;
  }
  
  .hobby-picture {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }
  
  .hobbies-title, .hobbies-sub-title, .hobbies-text {
    text-align: center;
  }
  .education-title{
	text-align: center;
}
}
